:root{
	--bgrd: #F4EAFF;
	--textMainCol: #000000;
	--textSmallCol: #FFA300;
	--textBgrdCol: #A44CFF;
	--textBgrdBorderCol: #3E007F;
	--buttonBgrdCol: #CC5852;
	--shadowCol: #4bc4b5aa;
	--dropdownBgrdCol: #BD86FF;
	--dropdownHoverCol: #FB4991;
	--menuLinkCol: #F5F3DD;
	--urlLinkCol: #BF2247;
	--blogBgCol: #ecede6;
	--blogFontCol: #e2804a;
	--blogFontLinkCol: #0bdd94;
	--fullMoonBlogBgCol: #000000;
	--fullMoonBlogFontCol: #f9ffd8;
	--fullMoonBlogFontLinkCol: #9bf1fe;
}

/*
::-webkit-scrollbar { 
    display: none; 
}
*/

html, body {
	font-family: 'Imprima', cursive;
	font-size: 20px;
	line-height: 24px;
	color: var(--textMainCol);
	padding: 0;
	margin: 0 auto;
    height: 100%;
	background-attachment: fixed;
	/*width: 500px;*/
}

.blog{
	
	font-family: 'Imprima', cursive;
	font-size: 20px;
	line-height: 24px;
	padding: 0;
	margin: 0 auto;
    height: 100%;
	background-attachment: fixed;
	width: 500px;
	color: var(--blogFontCol);
	background-color: var(--blogBgCol);
}

.fullMoonBlog{
	
	font-family: 'Imprima', cursive;
	font-size: 20px;
	line-height: 24px;
	padding: 0;
	margin: 0 auto;
    height: 100%;
	background-attachment: fixed;
	width: 500px;
	color: var(--fullMoonBlogFontCol);
	background-color: var(--fullMoonBlogBgCol);
}

.wrapper {
		display: grid;
		grid-gap: 34px;
		grid-template-columns: 100px 100px 100px 100px;
		background-color: #fff9;
		border-radius: 10px;
	}

	.box {
		background-color: #4BC4B5;
		color: #fff;
		border-radius: 5px;
		padding: 20px;
		font-size: 250%;
	}
	
	.invisiblebox {
		background-color: none;
		color: #fff;
		border-radius: 5px;
		padding: 20px;
		font-size: 250%;
	}
	
.iframe-container {
  overflow: hidden;

}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 80px;
   width: 20%;
}
 
/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}

img { max-width: 100%; border:0; }

.center {
    display: block;
    margin: 0 auto;
}

h1, h2, h3, h4 {
	font-family: 'Didact Gothic', sans-serif;
	margin: 20px;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 8px;
	text-align: center;
	text-shadow:
	4px 6px 0 var(--shadowCol),
	-4px 6px 0 var(--shadowCol);
	
}

h2{
	text-align: left;
	text-shadow:
	2px 3px 0 var(--shadowCol),
	-2px 3px 0 var(--shadowCol);
}

h3{
	font-size: 2em;
	text-shadow:
	2px 3px 0 var(--shadowCol),
	-2px 3px 0 var(--shadowCol);	
}

h4{
	font-size: 0.8em;
	text-shadow:
	1px 2px 0 var(--shadowCol),
	-1px 2px 0 var(--shadowCol);
	text-align:left;	
}

.blog
{
	text-align: left;	
}

.logo {
	font-family: 'Cabin Sketch', cursive;
	font-size: 4em;
	line-height: 1em;
	text-decoration: none;
	margin: 0;
	padding: 0;
	margin-bottom: 8px;
}

.logoBlog {
	font-family: 'Cabin Sketch', cursive;
	color: var(--ce7752);
	font-size: 3em;
	line-height: 1em;
	text-decoration: none;
	margin: 0;
	padding: 0;
	margin-bottom: 8px;
}

.logo2 {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 4em;
	line-height: 1em;
	text-decoration: none;
	margin: 0;
	padding: 0;
	margin-bottom: 8px;
}

.bio {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.45em;
	line-height: 1em;
	text-decoration: none;
	margin: 0;
	margin-bottom: 8px;
	text-align: center;
	text-shadow:
    -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff;  
	background-color: #fffe;
	border: 2px solid #fff;
	border-radius: 8px;
	padding: 10px;
	box-shadow: 0px 5px 0px 0px #ccc;
}

.boxtext {
	font-family: 'Cabin Sketch', cursive;
	font-size: 0.9em;
	line-height: 1.2em;
	text-decoration: none;
	margin: 0;
	margin-bottom: 20px;
	background-color: var(--textBgrdCol);
	border-radius: 0px 0px 80px 80px;
	padding: 10px;
	box-shadow: 0px 5px 0px 0px var(--shadowCol);
}

.bgrdimage {
	background-image: url('pinkBgrdStars.jpg'), url('blueBgrdStars.jpg');
	background-blend-mode: lighten;
	background-size: cover; 
	background-repeat: no-repeat;
    background-position: center; 
	background-attachment:fixed;
}

.bgrdimage-b {
	background-image: url(C:/Users/Claire/Documents/GitHub/shimmerwitch.space/space.jpg) center center no-repeat;
	background-attachment: fixed;
	background-size: cover; 
	background-repeat: no-repeat;
    background-position: center; 
	position:absolute;
    bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
    z-index:-1;
	min-height: 100%;
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.8)));
    mask-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.8));
	
}

.bgrdStar1{
	position:relative;
	width: 256px;
    height: 256px;
	transform: rotate(30deg) scale(1.2);
	background: url("C:/Users/Claire/Documents/GitHub/shimmerwitch.space/star.png") no-repeat;
}

.bgrdStar1:hover{
	position:relative;
	width: 256px;
    height: 256px;
	overflow:hidden;
	z-index: 1;
	background: url("C:/Users/Claire/Documents/GitHub/shimmerwitch.space/sun.png") no-repeat;
	}

.bgrdStar2{
	position:relative;
	width: 256px;
    height: 256px;
	transform: scale(1.5);
	background: url("C:/Users/Claire/Documents/GitHub/shimmerwitch.space/star.png") no-repeat;
}

.bgrdStar2:hover{
	position:relative;
	width: 256px;
    height: 256px;
	overflow:hidden;
	z-index: 1;
	background: url("C:/Users/Claire/Documents/GitHub/shimmerwitch.space/sun.png") no-repeat;
	}

.bgrdStar3{
	position:relative;
	width: 256px;
    height: 256px;
	transform: rotate(-30deg);
	background: url("C:/Users/Claire/Documents/GitHub/shimmerwitch.space/star.png") no-repeat;
}

.bgrdStar3:hover{
	position:relative;
	width: 256px;
    height: 256px;
	overflow:hidden;
	z-index: 1;
	background: url("C:/Users/Claire/Documents/GitHub/shimmerwitch.space/sun.png") no-repeat;
	}

.video
{	
	width: 99%;
    height:99%;
}
.iframeholder{
	margin: 0 auto;
	padding: 0;
    width: 490px;
    height:274px;
    position:relative;
}
.iframeborder{
    position:absolute;
    top:-2px;
    left: -2px;
    width:100%;
	height: 100%;
	border: 5px solid #fff;
	border-radius: 8px;
	pointer-events: none;
	box-shadow: 0px 5px 0px 0px #ccc;
}

.bgrd {
    background-color: white;
}   

hr {
	border: 0;
    height: 0;
    border-top: 1px solid #3d2c21;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	margin: 30px 0;
}

p {
	margin: 0;
	padding: 0px;
	margin-bottom: 8px;
}

p.text {
	text-align: left;
	margin: 20px;
}

.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

a:link, a:visited, a:active, a:hover { 
	color: var(--urlLinkCol); 
	text-decoration: none; 
}

a.menuLink
{
	color: var(--menuLinkCol); 
	text-decoration: none;
}

a.blogLink
{
	color: var(--blogFontLinkCol); 
	text-decoration: none; 
}

a.fullMoonBlogLink
{
	color: var(--fullMoonBlogFontLinkCol); 
	text-decoration: none; 
}

.hoverbutton {
	margin-top: 20px;
	text-align: center;
	color: #fff;
}

.hoverbutton a, button {
	display: block;
   	position: relative;
	width: 350px;
	margin: 0 auto;
	background: var(--buttonBgrdCol);
	padding: 5px 0px;
	border: 0;
	color: #fff;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	-webkit-box-shadow: 0px 6px 0px 0px var(--shadowCol);
	-moz-box-shadow:    0px 6px 0px 0px var(--shadowCol);
	box-shadow:         0px 6px 0px 0px var(--shadowCol);
	
	-webkit-transition-duration: 0.12s;
    -moz-transition-duration: 0.12s;
    transition-duration: 0.12s;
}

.hoverbutton a:hover, button:hover {
	-webkit-transform: translate(0,3px);
	-moz-transform: translate(0,3px);
	transform: translate(0,3px);
	
	-webkit-box-shadow: 0px 3px 0px 0px rgba(152, 124, 57, 0.5);
	-moz-box-shadow:    0px 3px 0px 0px rgba(152, 124, 57, 0.5);
	box-shadow:         0px 3px 0px 0px rgba(152, 124, 57, 0.5);
}

.hoverbutton a:active, button:active {
	-webkit-transform: translate(0,5px);
	-moz-transform: translate(0,5px);
	transform: translate(0,5px);
	
	-webkit-box-shadow: 0px 1px 0px 0px rgba(152, 124, 57, 0.5);
	-moz-box-shadow:    0px 1px 0px 0px rgba(152, 124, 57, 0.5);
	box-shadow:         0px 1px 0px 0px rgba(152, 124, 57, 0.5);
}

button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	width: 400px;
	margin: 0 auto;
	padding: 5px 15px;
	margin-top: 6px;
	cursor: pointer;
}

div.main {
	margin: 0px 20px 0px 20px;
}

/*gallery*/
div.gallery {
    border: 0px solid #ccc;
}

div.gallery:hover {
    border: 0px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 5000px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/*drop-down menu*/
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #fff8;
}

ul.list {
  list-style-type: circle;
  background-color: transparent;
  overflow: visible;
}

li {
    
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 2px 52px;
    text-decoration: none;
}

li a.fullMoonBlogLink
{
	color: var(--fullMoonBlogFontLinkCol); 
	text-decoration: none; 
}

li.list a{
	 text-align: left;
	 padding: 0;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: var(--dropdownBgrdCol);
	color: white;
	border-radius: 8px;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dropdownBgrdCol);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	border-radius: 8px;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: var(--buttonBgrdCol);color: white;}

.dropdown:hover .dropdown-content {
    display: block;
}

/*table*/
table.customTable {
   font-family: 'Didact Gothic', sans-serif;
    border-collapse: collapse;
    width: 100%;
}
th.customTable {
    text-align: center;
	font-size: 32px;
	width: 33.33%;
}

td.customTable { 
    text-align: center;
	font-size: 20px;
	 width: 33.33%;
}

@media only screen and (max-width: 768px) { 
	/* MOBILE */
}